@font-face
{
	font-family: "Champagne Limousines Bold" ;
	src: url(../fonts/champagne_limousines/Champagne_Limousines_Bold.ttf) format("truetype");
}

html, body
{
	height: 100% !important;
}

body
{
	background-color: #f5f5f5 !important;
	height: 100%;
}

nav
{
	background-color: #3B5998 !important;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
	color: white;
	width: 100%;
	z-index: 10;
	height: 70px;
	position: fixed !important;
}

/*#filterButtonContainer, nav*/
/*{*/
	/*position: fixed !important;*/
/*}*/

#filterButtonContainer
{
	width: 100%;
	z-index: 10;
}

#filterButton
{
	position: absolute; /* postulat de départ */
	top: 50%; left: 50%; /* à 50%/50% du parent référent */
	transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
	background-color: #f8bbd0;
	border: 1px solid #f8bbd0;
	text-transform: uppercase;
	letter-spacing: 7px;
	font-size: 1.2em;
	font-weight: bold;
	padding: 10px;
	transition: all .16s ease-in-out;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
	cursor: pointer;
	border-radius: 2px;

}

#filterButton:hover
{
	background-color: #f48fb1;
	border: 1px solid #f48fb1;
	transition: all .16s ease-in-out;
}

#linkVisageLivre
{
	font-family: 'Segoe UI', sans-serif;
	font-size: 2em;
	color: white;
	transition: all .16s ease-in-out;
}

#linkVisageLivre:hover
{
	color: #c2cfea;
	transition: all .16s ease-in-out;
}

form > label
{
	font-size: 1.3em;
}

.navbar-user
{
	font-size: 1.7em;
	margin: 0px 15px;
}

.navbar-logo
{
	height: 45px;
	width: auto;
}

.createUserButton
{
	background: linear-gradient(#67ae55, #578843);
	background-color: #69a74e;
	box-shadow: inset 0 1px 1px #a4e388;
	border-color: #3b6e22 #3b6e22 #2c5115;

	border: 1px solid;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	letter-spacing: 1px;
	position: relative;
	text-shadow: 0 1px 2px rgba(0,0,0,.5);

	min-width: 194px;
	padding: 7px 20px;
	text-align: center;

	font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif !important;
	font-weight: bold !important;
	text-rendering: optimizelegibility;

	font-size: 1.3em;
}

.alignItems
{
	display: flex;
	align-items: center;
}

.friendsIcon
{
	cursor: pointer;
}

.separationLine
{
	border-left: 1px solid white;
	height: 50px;
	margin-left: 30px;
}

.userList
{
	background-color: #e8eaf6;
	padding-left: 20px;
	padding-right: 20px;
	border-left: 2px solid #b6b8c3;
	height: 100vh;
	width: 100%;
	padding-top: 100px;

	position: fixed;

	overflow-y: hidden;
}

.userList:hover
{
	overflow-y: scroll;
}

.deleteFriend
{
	background-color: transparent;
	color: red;
	border: none;
	cursor: pointer;
}

.addFriend
{
	background-color: transparent;
	color: green;
	border: none;
	cursor: pointer;
}

.globalContent
{
	margin-top: 150px;
}

.cursorPointer
{
	cursor: pointer;
}

.textAlign
{
	text-align: center;
}

.postSubmit
{
	background-color: #4267b2;
	color: white;

	border: 1px solid #4267b2;
	border-radius: 2px;
	box-sizing: content-box;
	-webkit-font-smoothing: antialiased;
	font-weight: bold;
	justify-content: center;
	text-align: center;
	text-shadow: none;
	vertical-align: middle;

	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	white-space: nowrap;

	line-height: 22px;
	padding: 5px 20px;

	margin-top: 20px;

	transition: 200ms cubic-bezier(.08,.52,.52,1) background-color,
				200ms cubic-bezier(.08,.52,.52,1) box-shadow,
				200ms cubic-bezier(.08,.52,.52,1) transform;
}

.postSubmit:hover
{
	background-color: #365899;
	border-color: #365899;

	transition: 200ms cubic-bezier(.08,.52,.52,1) background-color,
				200ms cubic-bezier(.08,.52,.52,1) box-shadow,
				200ms cubic-bezier(.08,.52,.52,1) transform;

}

.createPost
{
	margin: 50px 0px;
}

.labelLogin
{
	font-size: 20px;
}

.loginButton
{
	background-color: #4267b2;
	border: 1px solid #29487d;

	border-radius: 2px;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	font-weight: bold;
	line-height: 18px;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	text-shadow: none;
	vertical-align: top;
	white-space: nowrap;

	color: white;
}

.loginButton:hover
{
	background-color: #365899;
	border-color: #29487d;
}

.post
{
	border: 1px solid #ced4da;
	background-color: white;
	border-radius: .25rem;

	margin-bottom: 50px;

	list-style: none !important;
}

.userInfos
{
	border: 2px solid #365899;
	background-color: white;
	border-radius: .25rem;

	margin-bottom: 50px;
	padding: 25px;

	list-style: none !important;
}

.userInfos > h3
{
	margin-bottom:25px;
}

.userInfos > label
{
	font-weight: bold;
}

.profileTitle
{
	margin-bottom: 50px;
}

.comment
{
	background-color: #f6f7f9 !important;
	padding: 25px;
}

.newComment
{
	border-radius: 20px !important;
}

.coms
{
	border-radius: 20px;
	background-color: white;
	display: inline-block;
	padding: 10px;
	width: auto !important;
}

.coms > label:first-child
{
	font-size: 1.2em;
	font-weight: bold;
	padding-right: 15px;
}

.coms > label:nth-child(2)
{
	font-size: 0.8em;
	color: #9ea7aa;
	padding-right: 20px;
}

.sendCommentButton
{
	padding: .375rem .75rem;
	margin-bottom: 0;
	margin-left: 10px;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: white;
	text-align: center;
	white-space: nowrap;
	background-color: #4267b2;
	border: 1px solid #29487d;
	border-radius: 20px;
}

.paddingPost
{
	padding: 30px;
}

.marginPosts
{
	margin-top: 50px;
}

.marginPosts > ul
{
	padding-left: 0px !important;
}

.postContent
{
	font-size: 1.2em;
}

.postDate
{
	font-size: 0.8em;
	color: #9ea7aa;
}

.marginIconNavbar
{
	margin-right: 30px;
}

.seeMoreLink
{
	color: #007bff !important;
	text-decoration: none !important;
	background-color: transparent !important;
}

.seeMoreLink:hover, .answerComment:hover
{
	color: #0056b3 !important;
	text-decoration: underline !important;
}

.answerComment
{
	color: #007bff !important;
	text-decoration: none !important;
	background-color: transparent !important;
	padding-left: 15px;
}

.commentPartHidden
{
	display: none;
}



/* ============== */
/* DROP DOWN MENU */
/* ============== */

/* Style The Dropdown Button */
.dropbtn {
	background-color: transparent;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: black !important;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
	background-color: transparent;
}

/* ============== */
/* CSS OVERRIDE */
/* ============== */

caption
{
	text-align: center !important;
	caption-side: top !important;
}

.dropbtn > form, #login > form, .comment > form
{
	margin-bottom: 0px !important;
}

.row
{
	margin-right: 0px !important;
	margin-left: 0px !important;
}

#userList
{
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.post > hr
{
	margin-bottom: 0px !important;
}

.marginIconNavbar > a
{
	color: #1a2947 !important;
}

.marginIconNavbar > a:hover
{
	color: #0d1524 !important;
}
